<div class="row">
 <div class="col-md-12 well">
  <div class="col-md-3 text-center profile-image">
    <%= image_tag @user.profile.avatar.url %>
  </div>
  <div class="col-md-6">
    <h2><%= @user.profile.first_name %> <%= @user.profile.last_name %><br></h2>
    <h3><span class="job_title_icon"><%= job_title_icon %></span> <%= @user.profile.job_title %><br></h3>
    <div class="well profile profile-description">
      <h3> Description </h3>
      <%= @user.profile.description %><br>
    </div>
    
    <div class="well  profile contact-info">
      <h3>Contact Info </h3>
    <% if true# current_user.plan.id == 2 %>
      <%= @user.profile.phone_number %><br>
      <%= @user.profile.contact_email %><br>
    <%end%>
    </div>  

  </div> 
  </div>
</div>  


